/* .layout-blank {
  background-color: #fff;
  color: #2e2f30;
  letter-spacing: 0.5px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  height: 100vh;
  margin: 0;
} */
@font-face {
  font-family: 'titleBarFont';
  src: url('../font/MFShangHei-Regular.woff');
}
body {
  margin: 0;
  padding: 0;
}
body * {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: '-apple-system', BlinkMacSystemFont, Roboto, 'Helvetica Neue',
    'MIcrosoft YaHei', sans-serif, titleBarFont !important;
}

a:hover,
a:focus,
a:visited {
  color: #41b883;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
li,
dd {
  list-style: none;
}
